body{
    margin: 0;
    padding: 0;
    background-image: url("/img/loginnn.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif   ;
}
.login-box{
    width:500px;
    height:600px;
    background:rgba(0, 0, 0, 0.5);
    color:#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    margin-top: 80px;
}
.avathar{
     width: 100px;
     height: 100px;
     border-radius: 50%;
     position: absolute; 
     top: -50px;
     left: calc(50% -50px);
     margin-left: 160px;  
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 20px;
}
.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 20px;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;

}
.login-box input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 18px;
}
.login-box input[type="Submit"]
{
    border: none;
    outline: none;
    height: 50px;
    background-color:dodgerblue;
    color: #fff;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 20px;
    font-weight: bold;

}
.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;

}
.login-box a{
    text-decoration: none;
    font-size: 15px;
    line-height: 30px;
    color: darkgray;
    margin-left: 125px;
}
.login-box a:hover
{
    color: #ffc107;
}